<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
       <!-- 
        name = Имя, которое используется для ссылки на данный раздел в файле настройки.
        type = Обработчик раздела настроек. Включает две секции: полный путь - пространство имен обработчика наших данных + имя самого обработчика,
        наименование сборки, где данный класс располагается.
        -->
      <section name="fileWatcher" type="FileWatcherBLC6.FileWatcherConfigSection, FileWatcherBLC6"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <fileWatcher culture="ru-RU"> 
          <targetFilesExtensions>
              <add value=".txt"/>
              <add value=".rtf"/>
          </targetFilesExtensions>
          <foundedInfoFormat value="Ln: {0} Col: {1} Text: {2}"/>
          <fileInfoFormat value="File name: {0} | Extension: {1} | Size {2} KB"/> <!--{0} is a File.name. {1} is a Extension, {2} is a Size-->
          <backupInfo saveConfirmation="true" path="D:/backup/" />
    </fileWatcher>
</configuration>